.cart-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-item-img {
  max-width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.cart-item-info {
  flex: 1;
  margin-left: 1rem;
}

.cart-item-info h3 {
  margin: 0;
  font-size: 1.2rem;
}

.cart-item-info p {
  margin: 0.5rem 0;
}

.remove-item-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.remove-item-btn:hover {
  background-color: #c82333;
}

.clear-cart-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.clear-cart-btn:hover {
  background-color: #218838;
}

h3 {
  text-align: right;
  margin-top: 2rem;
}

.checkout-btn {
  background-color: #007bff;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
  float: right;
}

.checkout-btn:hover {
  background-color: #0056b3;
}
